html {
	
	font-family: Arial Veranda, Monospace
}
head{
	font-size: 2em;
	 max-width: 665px;
}
title{ 
	font-size: 2em;
	max-width: 665px;
}

body {
	
  background: #0d1a26;
  background: -webkit-linear-gradient(left, #050700, #8a9e8f);
  background:    -moz-linear-gradient(left, #050700, #8a9e8f);
  background:         linear-gradient(left, #050700, #8a9e8f);


  
  color: white;
	max-width: 665px;
	}

h1{
	font-size: 1.7em
	max-width: 665px;
}
p { 	
	font-size: 1.7em;
	color: white;
	max-width: 665px;
}
a{
	font-size: 1.7em;
	max-width: 665px;
}

h2{ 
	max-width: 665px;
	font-size: 1.7em;
}
ul { 
	font-size: 1.5em;
	max-width: 665px;
}





